
/* ------------------------------ 浏览器重置 ------------------------------ */
html { height: 100%; }
body { position: relative; min-height: 100%; min-width: 1000px; font-size: 14px; color: #333; font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif; background: #f2f2f2; }
body:after { display: block; content: " "; height: 80px; width: 100%; }
a { color:inherit; cursor:pointer; }
a:hover,
a:focus { color:#028872; text-decoration: none; }
input[type="text"]:focus,
input[type="password"]:focus { outline:none; }
ul, li,dl,dt,dd,h1,h2,h3,h4,h5,h6,label { margin:0; padding:0; }
li,dt,dd { list-style:none; }
label { font-weight:normal; vertical-align:middle; }
label + label { margin-left:10px; }
input[type=checkbox], input[type=radio] { margin-top:-1px; margin-right:5px; vertical-align:middle; }

/* 文本框 placeholder颜色设置 */
input::-webkit-input-placeholder { color: #999; }
input:-moz-placeholder { color: #999; }
input::-moz-placeholder { color: #999; }
input:-ms-input-placeholder { color: #999; }

/* ------------------------------ CSS库及插件重置 ------------------------------ */
.container { min-width:1000px; }

@media (min-width: 1440px) {
    .container { width: 1410px; }
}

.collapsing { transition-duration:0s; }

.icon-arrow-left:before { content: "\e091"; }
.icon-arrow-right:before { content: "\e092"; }

/* bootstrap中的提示工具Tooltips START */
.tooltip.in { opacity: 1; z-index: 9999; }
.tooltip.top { margin-top: -8px; padding: 5px 0; }
.tooltip.right { margin-left: 8px; padding: 0 5px; }
.tooltip.bottom { margin-top: 8px; padding: 5px 0; }
.tooltip.left { margin-left: -8px; padding: 0 5px; }
.tooltip .tooltip-inner { background-color: #FFF; color: #505050; border-radius: 0; border: 3px solid #ccc; }
.tooltip .tooltip-arrow:after { content: ""; position: absolute; width: 0; height: 0; border-color: transparent; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #ccc; }
.tooltip.bottom .tooltip-arrow, .tooltip.bottom .tooltip-arrow:after { margin-left: -5px; border-width: 0 5px 5px; border-style: dashed dashed solid; }
.tooltip.bottom .tooltip-arrow:after { top: 4px; border-bottom-color: #FFF; }
.tooltip.top .tooltip-arrow { border-top-color: #ccc; }
.tooltip.top .tooltip-arrow, .tooltip.top .tooltip-arrow:after { margin-left: -5px; border-width: 5px 5px 0; border-style: solid dashed dashed; }
.tooltip.top .tooltip-arrow:after { bottom: 4px; border-top-color: #FFF; }
.tooltip.left .tooltip-arrow { border-left-color: #ccc; }
.tooltip.left .tooltip-arrow, .tooltip.left .tooltip-arrow:after { margin-top: -5px; border-width: 5px 0 5px 5px; border-style: dashed solid dashed dashed; }
.tooltip.left .tooltip-arrow:after { right: 4px; border-left-color: #FFF; }
.tooltip.right .tooltip-arrow { border-right-color: #ccc; }
.tooltip.right .tooltip-arrow, .tooltip.right .tooltip-arrow:after { margin-top: -5px; border-width: 5px 5px 5px 0; border-style: dashed dashed dashed solid; }
.tooltip.right .tooltip-arrow:after { left: 4px; border-right-color: #FFF; }

.row { margin:0 -10px; }
.row > div { padding:10px; }
.row > div.xlpr { padding-right:40px; }

/* ------------------------------ 图标 ------------------------------ */
.ico { display: inline-block; vertical-align: middle; background-image: url(../images/icons.png); }