.collapsed > .ico-collapse {
  background-position: -26px -210px;
  width: 16px;
  height: 16px;
}
.pagination-next.disabled > .ico-nextpage,.ico-nextpage {
  background-position: -194px -210px;
  width: 6px;
  height: 9px;
}
.pagination-prev.disabled > .ico-prevpage,.ico-prevpage {
  background-position: -210px -210px;
  width: 6px;
  height: 9px;
}
.selected > .ico-select {
  background-position: -180px -46px;
  width: 25px;
  height: 36px;
}
a:hover > .ico-close {
  background-position: -46px 0px;
  width: 36px;
  height: 36px;
}
a:hover > .ico-off {
  background-position: -215px -172px;
  width: 16px;
  height: 17px;
}
a:hover > .ico-pwd {
  background-position: -249px -52px;
  width: 13px;
  height: 15px;
}
a:hover > .ico-setting {
  background-position: -215px -62px;
  width: 17px;
  height: 17px;
}
.ico-add {
  background-position: -46px -46px;
  width: 36px;
  height: 36px;
}
.ico-add:hover {
  background-position: -92px 0px;
  width: 36px;
  height: 36px;
}
.ico-addr {
  background-position: -249px 0px;
  width: 15px;
  height: 18px;
}
.ico-avg {
  background-position: -156px -210px;
  width: 12px;
  height: 12px;
}
.ico-close {
  background-position: 0px 0px;
  width: 36px;
  height: 36px;
}
.ico-collapse {
  background-position: -52px -210px;
  width: 16px;
  height: 16px;
}
.ico-confirm {
  background-position: -84px -92px;
  width: 32px;
  height: 32px;
}
.ico-down {
  background-position: -249px -102px;
  width: 12px;
  height: 13px;
}
.ico-download {
  background-position: -215px 0px;
  width: 24px;
  height: 22px;
}
.ico-draft {
  background-position: -138px -84px;
  width: 32px;
  height: 32px;
}
.ico-err {
  background-position: -78px -210px;
  width: 16px;
  height: 16px;
}
.ico-error {
  background-position: -42px -134px;
  width: 32px;
  height: 32px;
}
.ico-hot2 {
  background-position: -215px -144px;
  width: 16px;
  height: 18px;
}
.ico-hot3 {
  background-position: -215px -116px;
  width: 16px;
  height: 18px;
}
.ico-keyword {
  background-position: -104px -210px;
  width: 16px;
  height: 16px;
}
.ico-nextpage {
  background-position: -178px -210px;
  width: 6px;
  height: 9px;
}
.ico-ng {
  background-position: -84px -134px;
  width: 32px;
  height: 32px;
}
.ico-off {
  background-position: 0px -210px;
  width: 16px;
  height: 17px;
}
.ico-org {
  background-position: -249px -28px;
  width: 14px;
  height: 14px;
}
.ico-pass {
  background-position: 0px -134px;
  width: 32px;
  height: 32px;
}
.ico-password.noshow {
  background-position: -102px -176px;
  width: 24px;
  height: 24px;
}
.ico-password.noshow:hover {
  background-position: -136px -176px;
  width: 24px;
  height: 24px;
}
.ico-password {
  background-position: -180px -92px;
  width: 24px;
  height: 24px;
}
.ico-password:hover {
  background-position: -170px -176px;
  width: 24px;
  height: 24px;
}
.ico-person {
  background-position: -130px -210px;
  width: 16px;
  height: 15px;
}
.ico-prevpage {
  background-position: -160px -134px;
  width: 6px;
  height: 9px;
}
.ico-pwd.noshow {
  background-position: -68px -176px;
  width: 24px;
  height: 24px;
}
.ico-pwd.noshow:hover {
  background-position: -34px -176px;
  width: 24px;
  height: 24px;
}
.ico-pwd {
  background-position: -249px -77px;
  width: 13px;
  height: 15px;
}
.ico-qq {
  background-position: 0px -176px;
  width: 24px;
  height: 24px;
}
.ico-question {
  background-position: -215px -32px;
  width: 20px;
  height: 20px;
}
.ico-remove {
  background-position: 0px -46px;
  width: 36px;
  height: 36px;
}
.ico-remove:hover {
  background-position: -92px -46px;
  width: 36px;
  height: 36px;
}
.ico-select {
  background-position: -180px 0px;
  width: 25px;
  height: 36px;
}
.ico-setting {
  background-position: -215px -89px;
  width: 17px;
  height: 17px;
}
.ico-sort {
  background-position: -249px -173px;
  width: 11px;
  height: 14px;
}
.ico-success {
  background-position: 0px -92px;
  width: 32px;
  height: 32px;
}
th.asc .ico-sort {
  background-position: -249px -149px;
  width: 11px;
  height: 14px;
}
th.desc .ico-sort {
  background-position: -249px -125px;
  width: 11px;
  height: 14px;
}
.ico-tip {
  background-position: -138px 0px;
  width: 32px;
  height: 32px;
}
.ico-up {
  background-position: -249px -197px;
  width: 12px;
  height: 12px;
}
.ico-wait {
  background-position: -138px -42px;
  width: 32px;
  height: 32px;
}
.ico-warning {
  background-position: -42px -92px;
  width: 32px;
  height: 32px;
}
.ico-weibo {
  background-position: -126px -134px;
  width: 24px;
  height: 24px;
}
.ico-weixin {
  background-position: -180px -126px;
  width: 24px;
  height: 24px;
}
