.collapsed > .ico-collapse {
  width: 0.4rem;
  height: 0.4rem;
  background-position: 1.3rem 5.25rem;
  background-size: 6.6rem 5.675rem;
}
.selected > .ico-select {
  width: 0.625rem;
  height: 0.9rem;
  background-position: 4.5rem 0rem;
  background-size: 6.6rem 5.675rem;
}
a:hover > .ico-close {
  width: 0.9rem;
  height: 0.9rem;
  background-position: 1.15rem 0rem;
  background-size: 6.6rem 5.675rem;
}
a:hover > .ico-nextpage {
  width: 0.15rem;
  height: 0.225rem;
  background-position: 5.25rem 5.25rem;
  background-size: 6.6rem 5.675rem;
}
a:hover > .ico-off {
  width: 0.4rem;
  height: 0.425rem;
  background-position: 0rem 5.25rem;
  background-size: 6.6rem 5.675rem;
}
a:hover > .ico-prevpage {
  width: 0.15rem;
  height: 0.225rem;
  background-position: 4.85rem 5.25rem;
  background-size: 6.6rem 5.675rem;
}
a:hover > .ico-pwd {
  width: 0.325rem;
  height: 0.375rem;
  background-position: 6.225rem 1.925rem;
  background-size: 6.6rem 5.675rem;
}
a:hover > .ico-setting {
  width: 0.425rem;
  height: 0.425rem;
  background-position: 5.375rem 1.55rem;
  background-size: 6.6rem 5.675rem;
}
.ico-add {
  width: 0.9rem;
  height: 0.9rem;
  background-position: 2.3rem 1.15rem;
  background-size: 6.6rem 5.675rem;
}
.ico-add:hover {
  width: 0.9rem;
  height: 0.9rem;
  background-position: 2.3rem 0rem;
  background-size: 6.6rem 5.675rem;
}
.ico-addr {
  width: 0.375rem;
  height: 0.45rem;
  background-position: 6.225rem 0rem;
  background-size: 6.6rem 5.675rem;
}
.ico-avg {
  width: 0.3rem;
  height: 0.3rem;
  background-position: 3.9rem 5.25rem;
  background-size: 6.6rem 5.675rem;
}
.ico-close {
  width: 0.9rem;
  height: 0.9rem;
  background-position: 1.15rem 1.15rem;
  background-size: 6.6rem 5.675rem;
}
.ico-collapse {
  width: 0.4rem;
  height: 0.4rem;
  background-position: 1.95rem 5.25rem;
  background-size: 6.6rem 5.675rem;
}
.ico-confirm {
  width: 0.8rem;
  height: 0.8rem;
  background-position: 3.45rem 1.05rem;
  background-size: 6.6rem 5.675rem;
}
.ico-down {
  width: 0.3rem;
  height: 0.325rem;
  background-position: 6.225rem 2.55rem;
  background-size: 6.6rem 5.675rem;
}
.ico-download {
  width: 0.6rem;
  height: 0.55rem;
  background-position: 5.375rem 0rem;
  background-size: 6.6rem 5.675rem;
}
.ico-draft {
  width: 0.8rem;
  height: 0.8rem;
  background-position: 1.05rem 3.35rem;
  background-size: 6.6rem 5.675rem;
}
.ico-err {
  width: 0.4rem;
  height: 0.4rem;
  background-position: 0.65rem 5.25rem;
  background-size: 6.6rem 5.675rem;
}
.ico-error {
  width: 0.8rem;
  height: 0.8rem;
  background-position: 2.1rem 3.35rem;
  background-size: 6.6rem 5.675rem;
}
.ico-hot2 {
  width: 0.4rem;
  height: 0.45rem;
  background-position: 5.375rem 3.6rem;
  background-size: 6.6rem 5.675rem;
}
.ico-hot3 {
  width: 0.4rem;
  height: 0.45rem;
  background-position: 5.375rem 2.9rem;
  background-size: 6.6rem 5.675rem;
}
.ico-keyword {
  width: 0.4rem;
  height: 0.4rem;
  background-position: 2.6rem 5.25rem;
  background-size: 6.6rem 5.675rem;
}
.ico-nextpage {
  width: 0.15rem;
  height: 0.225rem;
  background-position: 4.45rem 5.25rem;
  background-size: 6.6rem 5.675rem;
}
.ico-ng {
  width: 0.8rem;
  height: 0.8rem;
  background-position: 0rem 3.35rem;
  background-size: 6.6rem 5.675rem;
}
.ico-off {
  width: 0.4rem;
  height: 0.425rem;
  background-position: 5.375rem 4.3rem;
  background-size: 6.6rem 5.675rem;
}
.ico-org {
  width: 0.35rem;
  height: 0.35rem;
  background-position: 6.225rem 0.7rem;
  background-size: 6.6rem 5.675rem;
}
.ico-pass {
  width: 0.8rem;
  height: 0.8rem;
  background-position: 3.45rem 2.1rem;
  background-size: 6.6rem 5.675rem;
}
.ico-password.noshow {
  width: 0.6rem;
  height: 0.6rem;
  background-position: 4.5rem 3.15rem;
  background-size: 6.6rem 5.675rem;
}
.ico-password.noshow:hover {
  width: 0.6rem;
  height: 0.6rem;
  background-position: 4.25rem 4.4rem;
  background-size: 6.6rem 5.675rem;
}
.ico-password {
  width: 0.6rem;
  height: 0.6rem;
  background-position: 3.4rem 4.4rem;
  background-size: 6.6rem 5.675rem;
}
.ico-password:hover {
  width: 0.6rem;
  height: 0.6rem;
  background-position: 2.55rem 4.4rem;
  background-size: 6.6rem 5.675rem;
}
.ico-person {
  width: 0.4rem;
  height: 0.375rem;
  background-position: 3.25rem 5.25rem;
  background-size: 6.6rem 5.675rem;
}
.ico-prevpage {
  width: 0.15rem;
  height: 0.225rem;
  background-position: 4rem 3.35rem;
  background-size: 6.6rem 5.675rem;
}
.ico-pwd.noshow {
  width: 0.6rem;
  height: 0.6rem;
  background-position: 1.7rem 4.4rem;
  background-size: 6.6rem 5.675rem;
}
.ico-pwd.noshow:hover {
  width: 0.6rem;
  height: 0.6rem;
  background-position: 0.85rem 4.4rem;
  background-size: 6.6rem 5.675rem;
}
.ico-pwd {
  width: 0.325rem;
  height: 0.375rem;
  background-position: 6.225rem 1.3rem;
  background-size: 6.6rem 5.675rem;
}
.ico-qq {
  width: 0.6rem;
  height: 0.6rem;
  background-position: 4.5rem 2.3rem;
  background-size: 6.6rem 5.675rem;
}
.ico-question {
  width: 0.5rem;
  height: 0.5rem;
  background-position: 5.375rem 0.8rem;
  background-size: 6.6rem 5.675rem;
}
.ico-remove {
  width: 0.9rem;
  height: 0.9rem;
  background-position: 0rem 1.15rem;
  background-size: 6.6rem 5.675rem;
}
.ico-remove:hover {
  width: 0.9rem;
  height: 0.9rem;
  background-position: 0rem 0rem;
  background-size: 6.6rem 5.675rem;
}
.ico-select {
  width: 0.625rem;
  height: 0.9rem;
  background-position: 4.5rem 1.15rem;
  background-size: 6.6rem 5.675rem;
}
.ico-setting {
  width: 0.425rem;
  height: 0.425rem;
  background-position: 5.375rem 2.225rem;
  background-size: 6.6rem 5.675rem;
}
.ico-sort {
  width: 0.275rem;
  height: 0.35rem;
  background-position: 6.225rem 3.125rem;
  background-size: 6.6rem 5.675rem;
}
.ico-success {
  width: 0.8rem;
  height: 0.8rem;
  background-position: 0rem 2.3rem;
  background-size: 6.6rem 5.675rem;
}
th.asc .ico-sort {
  width: 0.275rem;
  height: 0.35rem;
  background-position: 6.225rem 3.725rem;
  background-size: 6.6rem 5.675rem;
}
th.desc .ico-sort {
  width: 0.275rem;
  height: 0.35rem;
  background-position: 6.225rem 4.325rem;
  background-size: 6.6rem 5.675rem;
}
.ico-tip {
  width: 0.8rem;
  height: 0.8rem;
  background-position: 2.1rem 2.3rem;
  background-size: 6.6rem 5.675rem;
}
.ico-up {
  width: 0.3rem;
  height: 0.3rem;
  background-position: 6.225rem 4.925rem;
  background-size: 6.6rem 5.675rem;
}
.ico-wait {
  width: 0.8rem;
  height: 0.8rem;
  background-position: 3.45rem 0rem;
  background-size: 6.6rem 5.675rem;
}
.ico-warning {
  width: 0.8rem;
  height: 0.8rem;
  background-position: 1.05rem 2.3rem;
  background-size: 6.6rem 5.675rem;
}
.ico-weibo {
  width: 0.6rem;
  height: 0.6rem;
  background-position: 0rem 4.4rem;
  background-size: 6.6rem 5.675rem;
}
.ico-weixin {
  width: 0.6rem;
  height: 0.6rem;
  background-position: 3.15rem 3.35rem;
  background-size: 6.6rem 5.675rem;
}
